@font-face {
  font-family: source;
  src: url(/fonts/SourceSans3-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: source;
  src: url(/fonts/SourceSans3-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: source;
  src: url(/fonts/SourceSans3-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: source;
  src: url(/fonts/SourceSans3-Regular.ttf);
  font-weight: 400;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: source, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 24px;
}

li:hover {
  transition: 0.2s;
  background-color: #f1f5f9;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}